.auto-complete-input{
    width: 100%;
    padding: 10px;
    font-size: 1.5rem;
    display: block;
    background-color: transparent;
    border: none;
    &:focus{
        outline: none;
    }
    

    &__dropdown {
        top: auto !important;
        left: auto !important;
        opacity: 100% !important;
        pointer-events: all !important;
        margin-top: 2px !important;
        max-height: 80vh;
        overflow-y: auto;
        width: 100%;
        box-shadow: var(--box-shadow);
        border: none;
    }
}

