.auto-complete-input{
    position: relative;
    width: 100%;
    padding: 10px;
    font-size: 1.5rem;
    font-family: inherit;
    display: block;
    background-color: transparent;
    border: none;
    &:focus{
        outline: none;
    }
    

    &__dropdown {
        position: absolute;
        width: 100%;
        bottom: 0;
    }

    &__header{
        font-size: 1.3rem;
        font-weight: 700;
        background-color: var(--color-text-secondary);
        color: white;

        &__text{
            margin-left: 1rem;
        }
    }
}

