.events{
    display: flex;
    flex-direction: column;

    &__event{
        font-size: 1.5rem;
        border-bottom: var(--border);
        padding: 1rem 1.5rem;

        &__info{
            display: flex;
            &__date{

            }

            &__league{
            }
        }

        &__matchup{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;

            &__team{
                display: flex;
                flex-direction: column;
                align-items: center;

                &__avatar{
                    height: 100px;
                    width: 100px;
                    object-fit: cover;
                }

                &__name{

                }
            }

            &__symbol-holder{
                font-size: 2rem;
                font-weight: 700;
                margin: 0 2rem;

                &__symbol{

                }
            }

            &__score{
                font-size: 4rem;
                font-weight: 700;
                margin: 0 1rem;
                &__points{
                    margin: 0 2rem;
                }

                &__dash{

                }
            }
        }

        &__more-info{
            font-size: 1.3rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: var(--color-text-secondary);
            &__type{
                &::first-letter{
                    text-transform: uppercase;
                }
            }

            &__notes{
                &::first-letter{
                    text-transform: uppercase;
                }
            }
        }
    }
}