.gif-popup{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 600px;

    &__search{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 1rem;
        
    }
}
