.heading-button{
    margin: 0 10px;
    font-size: 24px;
    color:var(--color-text-secondary);
}

.heading-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon{
    font-size: 36px;
}