.join-league-popup {
  &__heading {
  }

  &__content {
    height: 40rem;

    &__invite {
      position: relative;
      &__input-holder {
        position: sticky;
        top: 0;
        background-color: var(--color-background);
        display: flex;
        padding: 1rem;
      }
    }
  }

  &__tabs {
  }
}
