$button-brightness: 110%;

.menu-item {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.75rem 0.5rem;
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--color-text-secondary);
  cursor: pointer;
  user-select: none;
  transition: all 0.2s;
  border: none;
  background-color: var(--color-background-secondary);
  position: relative;

  &:not(:disabled),
  &:not([disabled]) {
    &:hover {
      background-color: var(--color-light-gray);
    }
  }

  &:disabled,
  &[disabled] {
    pointer-events: none;
    opacity: 0.5;
    cursor: default;
  }
}
