.navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 5rem;
  border-bottom: var(--border);
  box-shadow: var(--box-shadow);
  height: 6rem;
  max-height: 6rem;

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--color-primary);
    font-size: 2rem;
    font-weight: 700;
  }
}
