.post{
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 1rem;
  row-gap: 1rem;

  font-size: 1.5rem;
  line-height: 1.3125;
  padding: 1rem 1.5rem;
  cursor: pointer;
  transition: background-color .2s;
  &:not(:last-child){
    border-bottom: var(--border);
  }

  &:hover{
    background-color:var(--GRAY_BACKGROUND);
  }

  &__selected &__content{
    font-size: 2.4rem;
  }

  &__image{
    width: 5rem;
  }

  &__content{
    width:100%;
  }

  &__heading{
    display:flex;
    align-items: center;
    margin-bottom: 2px;
  }

  &__heading-text{
    display: flex;
    align-items: center;
  }

  &__time{
    margin-left: auto;
    font-size: 1.2rem;
    color: var(--SECONDARY_TEXT);
  }

  &__text{
    margin-bottom: 0;
  }

  &__gif{
    border-radius: 1.6rem;
    overflow: hidden;
    border: 1px solid grey;
    width: 100%;
    margin-top: 1rem;
  }

  &__icons{
    grid-column: 1/-1;
    display: flex;
    justify-content: space-evenly;
  }

  &__icon{
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    align-self: center;
    height: 18px;
    width: 18px;
    fill: var(--SECONDARY_TEXT);
    position: relative;
    transition: all .2s;

    &:hover{
      color:#00baff;
      text-decoration: none;
    }
  }

  &__comment{
    margin-left: auto;
  }

  &__display-name{
    font-weight: 700;
    color:#101010;
    text-decoration: none;
    display:inline-block;

    &:hover{
      color:#00baff;
      text-decoration: none;
      transition: color .2s ease-in-out;
    }
  }

  &__username{
    margin: 0 .5rem;
  }
}
