.schedule-event {
  cursor: pointer;
  border-bottom: var(--border);
  font-size: 1.5rem;
  color: var(--color-text-secondary);

  &:hover {
    background-color: var(--GRAY_BACKGROUND);
  }

  & td {
    padding: 1rem;
  }

  &__opponent {
    display: flex;
    align-items: center;
    &__avatar {
      height: 25px;
      width: 25px;
      object-fit: cover;
      margin-left: 0.5rem;
    }
    &__teamname {
      margin-left: 0.5rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__date {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__score {
  }
}
