.slot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.9rem;
  padding: 1rem 2.5rem;
  border: var(--border);
  border-radius: 5px;
  cursor: pointer;
  user-select: none;

  &:hover {
    label {
      &::after {
        color: darkgray;
      }
    }
  }

  &__empty {
    font-style: italic;
    margin: 0rem 2rem;
  }

  &__team {
    display: flex;
    align-items: center;
    &__seed {
      font-weight: 700;
      font-size: 1.9rem;
    }
    &__avatar {
      width: 50px;
      height: 50px;
      object-fit: cover;
      margin-left: 2rem;
      margin-right: 1rem;
    }
    &__teamname {
      font-weight: 700;
    }
  }
  &__check {
  }
}
