$button-brightness: 80%;

.twit-button{
    font-size: 1.6rem;
    font-weight: 700;
    padding: .5rem 1.5rem;
    margin: .5rem 0;
    width: max-content;
    border: none;
    border-radius: 1000px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    // box-shadow: var(--box-shadow-light);

    &:focus{
        outline: none;
    }

    &:link,
    &:visited,
    &:not(:disabled),
    &:not([disabled]){
        &:hover{
            filter: brightness($button-brightness);
            text-decoration: none;
        }
    }

    &:disabled,
    &[disabled]{
        opacity: .5;
        cursor: default;
    }

    &--white{
        color: var(--BLUE_TEXT) !important;
        background-color: white;
        transition: all .2s;

        &--outline{
            border: 1px solid white;
            color: white;
            background-color: transparent;
            transition: all .2s;
        }
    }

    &--primary{
        color: white !important;
        background-color:var(--BLUE_TEXT);
        transition: all .2s;
      
        &--outline{
            border: 1px solid var(--BLUE_TEXT) !important;
            color: var(--BLUE_TEXT) !important;
            background-color: transparent !important;
            transition: all .2s !important;

            &--large{
                padding: 1rem 3rem;
                &--expanded{
                    width: 100%;
                }
            }    
        }
    }

    &--expanded{
        width: 100%;
        &-large{
            width: 100%;
            padding: 1rem 3rem;
        }
    }

    &--large{
        padding: 1rem 3rem;
    }

    &--collapse{
        @media only screen and (max-width: 1240px){
            display: none;
        }
        
    }
}

.twit-button--square{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        border-bottom: var(--border);
        font-size: 1.9rem;
        font-weight: 700;
        background-color: var(--BLUE_TEXT);
        color: white !important;
        transition: all .2s;
        cursor: pointer;
        border: none;
        width: 100%;

        &,
        &:link,
        &:visited{
            text-decoration: none;
        }

        &:hover{
            filter: brightness($button-brightness); 
            text-decoration: none;
        }
}
