.twit-button{
        font-size: 1.6rem;
        font-weight: 700;
        padding: .5rem 1.5rem;
        margin: .5rem;
        width: max-content;
        border-radius: 1000px;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: var(--box-shadow-light);

    &--white{
        color: var(--BLUE_TEXT);
        background-color: white;
        transition: all .2s;

        &:hover{
            opacity: .5;
            color: var(--BLUE_TEXT);
        }
        &--outline{
            border: 1px solid white;
            color: white;
            background-color: transparent;
            transition: all .2s;

            &:hover{
                opacity: .5;
                color: white;
            }
        }
    }

    &--primary{
        color: white;
        background-color:var(--BLUE_TEXT);
        transition: all .2s;

        &:hover{
            opacity: .5;
        }
      
        &--outline{
            border: 1px solid var(--BLUE_TEXT);
            color: var(--BLUE_TEXT);
            background-color: transparent;
            transition: all .2s;

            &:hover{
                opacity: .5;
            }

            &--large{
                padding: 1rem 3rem;
                &--expanded{
                    width: 100%;
                }
            }    
        }
    }

    &--expanded{
        width: 100%;
        &-large{
            width: 100%;
            padding: 1rem 3rem;
        }
    }

    &--large{
        padding: 1rem 3rem;
    }

    &--collapse{
        @media only screen and (max-width: 1240px){
            display: none;
        }
        
    }
}
