.twit-nav-item{
    display: flex;
    align-items: flex-start;
    position: relative;
    line-height: 1.3125;
    cursor: pointer;

    @media only screen and (max-width: 1240px){
        justify-content: center;
    }

    &__holder{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        // transition-duration: .2s;
        cursor: pointer;
        color: var(--color-text);
        text-decoration: none;
        transition: all .2s;
        
        &:hover,
        &:active{
            background-color: rgba(29, 161, 242,0.1);
            border-radius: 9999px;
            color: #1DA1F2;
            text-decoration: none;
        }
    }

    &__icon{
        height: 2.6rem;
        width: 2.6rem;
        font-size: 1.75rem;
        color:inherit;
        fill: currentColor;
        width: 2.5rem;
    }

    &__text-holder{
        margin-left: 2rem;
        margin-right: 1.5rem;
        color: inherit;
        @media only screen and (max-width: 1240px){
            display: none;
        }
    }

    &__text{
        font-size: 1.9rem;
        font-weight: 700;
        color:rgb(20, 23, 26);
        color: inherit;
    } 
}

