.twit-post-circle{
    height: 50px;
    width: 50px;
    background-color: var(--BLUE_TEXT);
    border-radius: 50%;
    display: none;
    box-shadow: var(--box-shadow-light);
    cursor: pointer;
    @media only screen and (max-width: 1240px){
        display: block;
    }
    @media only screen and (max-width: 500px){
        position: absolute;
        height: 60px;
        width: 60px;
        right: 1rem;
        bottom: 7rem;
    }

    &__icon{
        height: 100%;
        width: 100%;
        
        padding: 1.3rem;
        fill: white;

        @media only screen and (max-width: 500px){
            padding: 1.6rem;
        }

    }
}