.twit-input{
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 1rem;
    padding: 1rem 1.5rem;

    &__image{
        width: 50px;
        height: 50px;
        object-fit: cover;
        grid-row: 1/3;
    }

    &__text-area{
        font-size: 1.9rem;
        padding: 1rem 0;
        cursor: text;
        border-bottom: 1px solid transparent;
        user-select: text;
        white-space: pre-wrap;
        overflow-wrap: break-word;
        transition: all .4s;

        &--expanded{
            min-height: 15rem;
            max-height: 72rem;
        }

        &:focus{
            outline: none;
            border-bottom: var(--border);
        }
    }

    &__actions{
        display: flex;
        justify-content: space-between;
    }

    &__media-types{
        display: flex;
        align-items: center;
    }

    &__media-type{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 37px;
        width: 37px;
    }

    &__icon{
        height: 22.5px;
        width: 22.5px;
        fill: var(--BLUE_TEXT);
        cursor: pointer;
    }

    &__gif{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--BLUE_TEXT);
        border-radius: 3px;
        height: 18.75px;
        width: 18.75px;
        color: white;
    }

    &__action{
        display: flex;
        align-items: center;

        &__char-count{
            font-size: 1.5rem;
            font-weight: 300;
            margin: 0 1rem;

            &:disabled,
            &[disabled]{
                color: red;
            }
        }
    }

    &__initial-value{
        color: blue;
    }

    [contenteditable][placeholder]:empty:before {
        content: attr(placeholder);
        position: absolute;
        color: var(--SECONDARY_TEXT);
        background-color: transparent;
      }
}