.twit-tabs {
  display: flex;
  border-bottom: var(--border);

  &__tab {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--color-text);
    flex: 1;
    padding: 1.5rem;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    cursor: pointer;
    position: relative;

    &--active {
      color: var(--color-text);
      font-weight: 700;
    }

    &__bar {
      width: 50%;
      height: 4px;
      border-radius: 9999px;
      background-color: var(--color-primary);
      position: absolute;
      bottom: 0;
      align-self: center;
    }

    &:hover {
      background-color: var(--color-background-secondary);
    }
  }
}
