.twit-dropdown {
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 4px;
  max-height: 50vh;
  overflow-y: auto;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  z-index: 1;
  min-width: min-content;

  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--color-text);
    padding: 1rem 1.5rem;
    white-space: nowrap;
    border-bottom: var(--border);
    transition: color 0.2s;

    &:hover {
      color: var(--color-primary);
    }
    &--disabled {
      opacity: 0.3;
    }

    &__icon {
      color: var(--color-text-secondary);
      fill: currentColor;
      height: 20px;
      width: 20px;
      margin-right: 1rem;
    }
  }
}
