.twit-item{
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 1.3125;

    &:hover{
        background-color: var(--GRAY_BACKGROUND);
        text-decoration: none;
    }

    span{
        display: block;
    }

    &__title{
        font-weight: 600;
        color: var(--PRIMARY_TEXT);
    }

    &__subtitle{
        color: var(--SECONDARY_TEXT);
    }

    &__image{
        width: 50px;
        height: 50px;
        object-fit: cover;
    }

    &__action{
        margin-left: auto;
    }

    &__textbox{
        margin-left: 1rem;
    }
}


