.twit-dropdown{
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 4px;
    max-height: 50vh;
    overflow-y: auto;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    z-index: 1;

    &__item{
        font-size: 1.5rem;
        font-weight: 400;
        color: var(--color-text);
        padding: 1rem 1.5rem;
        white-space: nowrap;
        border-bottom: var(--border);

        &:hover{
            background-color: var(--GRAY_BACKGROUND);
        }

    }
}