.twit-nav{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 5rem;
    @media only screen and (max-width: 500px){
      flex-direction: row;
      justify-content: space-evenly;
      align-items: flex-start;
      margin:0;
  }

    &__icon{
      height: 2.6rem;
      width: 2.6rem;
      fill: currentColor;
      @media only screen and (max-width: 1240px){
        // fill: var(--SECONDARY_TEXT);
    }
    }

    &__tagged{
      background-color: var(--BLUE_TEXT);
      position: absolute;
      padding: 0 .24rem;
      top: 1rem;
      left: 2.5rem;
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid white;
      color: white;
      min-width: 1.5rem;
      height: 1.5rem;
      white-space: nowrap;
      font-size: 1.1rem;
    }
  }