.twit-media{

    border-radius: 1.6rem;
    overflow: hidden;
    border: var(--border);
    width: 100%;
    position: relative;
    
    
    &:nth-child(1){
        &:last-child{
        grid-column: 1/-1;
        grid-row: 1/-1;
        }
    }
    &:nth-child(2){
        &:last-child{

        }
        }
    &:nth-child(3){
        &:last-child{
        grid-row: 1/-1;
        grid-column: 1/2;
        }
    }
    &:nth-child(4){
        &:last-child{
        
        }
    }
    
    &__file{
        padding-top: 56.25%;
    }

    &__gif{

    }

    &__gallery{
        height: 100%;
        display: grid;
        gap: 3px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr; 

        &__image-holder{
            padding-top: 56.25%;
            position: relative;
            &:nth-child(1){
                &:last-child{
                grid-column: 1/-1;
                grid-row: 1/-1;
                }
            }
            &:nth-child(2){
                &:last-child{
        
                }
                }
            &:nth-child(3){
                &:last-child{
                grid-row: 1/-1;
                grid-column: 1/2;
                }
            }
            &:nth-child(4){
                &:last-child{
                
                }
            }
    
            &__image{
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-size: cover;
                background-position: center;
                
            }
        }
    }

   

    &__player{
        position: absolute;
        top: 0;
        left: 0;
    }

    &__close{
        cursor: pointer;
        height: 3.2rem;
        width: 3.2rem;
        position: absolute;
        top: 5px;
        left: 5px;

        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba($color: black, $alpha: .7);
        border-radius: 50%;
        border-width: 2px;
        border-style: solid;
        border-color: white;
        z-index: 1;
        transition: all .2s;

        &:hover{
            filter: brightness(75%); 
        }
    }

    &__icon{
        height: 2.2rem;
        width: 2.2rem;
        fill: white;
    }
}