.user-toggle{
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 1.5rem;
    line-height: 1;
    background-color: white;
    padding: 1rem;
    margin: 2rem 0;
    border-radius: 9999px;
    cursor: pointer;
    transition: all .2s;
    position: relative;
    margin-top: auto;
    width: 100%;

    @media only screen and (max-width: 1240px){
      display: none;
    }

    &__image{
      width: 40px;
      height: 40px;
      object-fit: cover;
    }

    &__textbox{
      display: flex;
      flex-direction: column;
      margin: 0 1rem;
      line-height: 1.9rem;
    }

    &__dropdown{
      position: absolute;
      bottom: 175px;
      min-width: 250px;

    }

    &__icon{
      height: 18px;
      width: 18px;
      flex:1;
      display: flex;
      justify-content: flex-end;
      fill: var(--color-text);
    }

    &__username{
      font-weight: 700;
    }

    &__menu{
      width: 30rem;
      min-width: 26rem;
    }

    &__item{
      font-size: 1.5rem;
    }

    &:hover{
      background-color: var(--BLUE_BACKGROUND);
    }
  }