:root {
  // original
  --color-text: rgb(15, 20, 25);
  --color-text-secondary: rgb(91, 112, 131);
  --color-text-link: rgb(27, 149, 224);
  --color-primary: rgb(29, 161, 242);
  --color-secondary: var(--color-light-gray);
  --color-tertiary: #00adb5;
  --color-four: #eeeeee;
  --color-background: white;
  --color-background-secondary: white;
  --GREEN_TEXT: #0aba74;
  --RED_TEXT: #ff3e3e;
  --HIGHLIGHT: #f6f6f6;
  --BLUE_BACKGROUND: rgba(29, 161, 242, 0.1);
  --GREEN_BACKGROUND: #e6f8f1;
  --RED_BACKGROUND: #ffecec;
  --GRAY_BACKGROUND: rgba(0, 0, 0, 0.03);

  --color-card: whitesmoke;
  --color-light-gray: rgb(200, 204, 206);

  --gradient-primary: linear-gradient(
    to bottom,
    rgb(29, 161, 242),
    rgb(24, 148, 224)
  );

  --border: 1px solid var(--color-light-gray);
  --box-shadow: rgb(101 119 134 / 20%) 0px 0px 8px,
    rgb(101 119 134 / 25%) 0px 1px 3px 1px;
  --box-shadow-light: rgba(0, 0, 0, 0.1) 0px 8px 28px;

  --globalBackground: white;
  --globalSecondaryBackground: white;
  --globalTertiaryBackground: white;

  //chess.com
  // --globalBackground: white;
  // --globalSecondaryBackground: white;
  // --globalTertiaryBackground: white;
  // --globalAccentBackground: hsla(0, 0%, 100%, 0.14);
  // --subtleButtonBackground: hsla(0, 0%, 100%, 0.16);
  // --globalBorder: hsla(0, 0%, 100%, 0.1);
  // --globalGray: hsla(0, 0%, 100%, 0.08);
  // --globalGraySoft: hsla(0, 0%, 100%, 0.08);
  // --globalChartBackground: hsla(0, 0%, 100%, 0.05);
  // --globalColorThemeFull: #fff;
  // --globalColorThemeHigh: hsla(0, 0%, 100%, 0.8);
  // --globalColorThemeMid: hsla(0, 0%, 100%, 0.65);
  // --globalColorThemeLow: hsla(0, 0%, 100%, 0.4);
  // --globalColorThemeLink: #52b1dc;
  // --globalColorThemeBlueToMid: hsla(0, 0%, 100%, 0.65);
  // --globalColorThemeBlueToMidHover: hsla(0, 0%, 100%, 0.8);
  // --globalColorThemeBlueToHigh: hsla(0, 0%, 100%, 0.8);
  // --globalColorThemeBlueToHighHover: #fff;
  // --globalColorThemeHighToMid: hsla(0, 0%, 100%, 0.65);
  // --globalColorThemeFullToMid: hsla(0, 0%, 100%, 0.65);
  // --globalColorNeutral100: rgba(0, 0, 0, 0.2);
  // --globalColorNeutral200: rgba(0, 0, 0, 0.4);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1rem = 10px
}

body {
  box-sizing: border-box;
  padding: 0rem;
}

a {
  color: var(--color-text-link);
}

.twit-container {
  min-height: 100vh;
  background-color: var(--globalBackground);

  display: grid;
  grid-template-columns: [container-start header-start] 1fr [header-end main-start] 600px [main-end right-bar-start] 1fr [right-bar-end container-end];

  @media only screen and (max-width: 1240px) {
    grid-template-columns: [container-start header-start] 0.25fr [header-end main-start] 600px [main-end right-bar-start] 1fr [right-bar-end container-end];
  }
  @media only screen and (max-width: 1048px) {
    grid-template-columns: [container-start header-start] 1fr [header-end main-start] 600px [main-end right-bar-start] 1fr [right-bar-end container-end];
  }
  @media only screen and (max-width: 760px) {
    grid-template-columns: [container-start header-start] 7.5rem [header-end main-start] 1fr [main-end container-end];
  }
  @media only screen and (max-width: 500px) {
    grid-template-columns: [container-start main-start] 1fr [container-end main-end];
    grid-template-rows: [container-start main-start] 1fr [main-end header-start] 50px [header-end container-end];
  }
}

.header {
  display: flex;
  justify-content: flex-end;
  background-color: var(--globalBackground);

  @media only screen and (max-width: 1240px) {
    justify-content: flex-end;
  }
  @media only screen and (max-width: 760px) {
    justify-content: center;
  }
  @media only screen and (max-width: 500px) {
    grid-row: header-start/header-end;
    grid-column: container-start/container-end;
    position: relative;
  }

  &__left-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    height: 100vh;
    margin-right: 5rem;

    align-items: center;
    z-index: 1;
    @media only screen and (max-width: 1240px) {
      margin-right: 1rem;
    }
    @media only screen and (max-width: 760px) {
      margin-right: 0;
    }
    @media only screen and (max-width: 500px) {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 50px;
      bottom: 0;
      background-color: white;
      width: 100%;
      border-top: var(--border);
    }
  }

  &__logo {
    align-self: center;
    padding: 10px;
    cursor: pointer;

    &,
    &:link,
    &:visited,
    &:hover {
      color: var(--color-primary);
      text-decoration: none;
    }

    @media only screen and (max-width: 1240px) {
      display: none;
    }
  }

  &__avatar {
    height: 50px;
    width: 50px;
    display: none;
    margin: 2rem 0;
    object-fit: cover;
    margin-top: auto;
    @media only screen and (max-width: 1240px) {
      display: block;
    }
    @media only screen and (max-width: 500px) {
      display: none;
    }
  }
}

.main {
  grid-column: main-start/main-end;
  width: 600px;
  background-color: var(--globalTertiaryBackground);
  border-right: var(--border);
  border-left: var(--border);

  @media only screen and (max-width: 760px) {
    width: 100%;
  }
  @media only screen and (max-width: 500px) {
    grid-column: main-start/main-end;
    grid-row: main-start/main-end;
  }
}

.right-bar {
  grid-column: right-bar-start/right-bar-end;
  background-color: var(--globalBackground);
  @media only screen and (max-width: 994px) {
    display: none;
  }

  &__right-column {
    display: grid;
    row-gap: 1.5rem;
    height: auto; //will remove
    width: 38rem;
    align-items: center;
    padding: 0 1.5rem;

    &__footer {
      &__nav {
        margin: 0 1.6rem;
        display: flex;
        flex-wrap: wrap;
        &__item {
          &,
          &:link,
          :visited {
            color: var(--color-text-secondary);
            font-size: 1.3rem;
            margin-right: 1.2rem;
            overflow-wrap: break-word;
            margin-top: 2px;
            margin-bottom: 2px;
            text-decoration: none;
          }

          &:hover {
            text-decoration: underline;
          }
        }
        &__copyright {
          color: var(--color-text-secondary);
          font-size: 1.3rem;
          margin-right: 1.2rem;
          overflow-wrap: break-word;
          margin-top: 2px;
          margin-bottom: 2px;
          text-decoration: none;
        }
      }
    }
    @media only screen and (max-width: 994px) {
      display: none;
    }

    &__input-box {
      position: sticky;
      background-color: white;
      height: 50px;
      width: 100%;
      display: flex;
      align-items: center;
      top: 0;
      z-index: 1;

      &__input {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: var(--color-light-gray);

        height: 38px;

        border-radius: 100px;
      }
    }

    &__icon {
      height: 2rem;
      width: 2rem;
      margin-left: 1.5rem;
      fill: var(--color-text-secondary);
    }
  }
}

.top-bar {
  grid-column: main-start/main-end;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  z-index: 2;
  user-select: none;

  @media only screen and (max-width: 500px) {
    grid-column: container-start/container-end;
  }

  &__box {
    height: 50px;
    background-color: var(--globalBackground);
    border-bottom: var(--border);

    display: flex;
    align-items: center;
    @media only screen and (max-width: 760px) {
      width: 100%;
    }

    &__action {
      margin-left: auto;
      margin-right: 1rem;
    }
  }

  &__icon {
    height: 2rem;
    width: 3rem;
    margin-left: 1rem;
    fill: var(--color-primary);
    cursor: pointer;
  }

  &__text {
    margin-left: 1.6rem;
    line-height: 1.2;
    &--main {
      font-size: 1.9rem;
      font-weight: 800;
    }

    &--sub {
      font-size: 1.5rem;
    }
  }

  &__avatar {
    display: none;
    height: 30px;
    width: 30px;
    object-fit: cover;
    margin-left: 1.5rem;

    @media only screen and (max-width: 500px) {
      display: block;
    }
  }
}
