@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;700;900&display=swap');


/* -------------------Element Selectors---------------------- */
a:hover{
  text-decoration: none !important;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--PRIMARY_TEXT);
}

/* -------------------Class Selectors---------------------- */

.ad{
  margin: 25px 0;
}

.banner-ad{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
}

.btn-primary:hover{
  color:#1c73e4;
  background-color:#dbeffc;
  border-color: transparent;
}

.card{
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.12);
  border: none;
}

.card-header{
  padding: 10px;
}

.container-fluid{
  max-width: 80rem;
}

.dropdown-menu{
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.12);
  border: none !important;
  border-radius: .25rem;
}

.form-control:focus{
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.12);
  border-color: transparent;
}

.flex-column{
  display: flex;
  flex-direction: column;
}
  
.navbar-collapse{
  justify-content: space-between;
}

.navbar-collapse .btn{
  margin: 0 5px;
}

@media only screen and (max-width: 992px) {
    .right-column {
      display: none;
    }
  }

  .icon-holder{
    display: flex;
  }

  .icon-holder a{
    color: var(--SECONDARY_TEXT);
    text-decoration: none;
  }

  .invalid-feedback{
    display: block;
}
 
  .social-icon{
    padding-right: 0 15px;
  }

  .span-block{
    display: block;
  }

  .matchup-avatar{
    width:75px;
    height: 75px;
}

.matchup{
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
}

  .twit-small-text{
    font-size: 13px;
  }

  .twit-icon{
    margin-right: 5px;
  }

  .twit-button{
    margin-right: 10px;
  }

  .twit-brand{
    text-decoration: none;
    color: var(--PRIMARY_TEXT);
  }

  .twit-brand:hover{
    text-decoration: none;
    color: var(--PRIMARY_TEXT);
  }
  
.twit-team{
  text-align: center;
}

  .nav-style span{
    display: block;
  }

  .block-span{
    display:block;
  }

  .user-toggle{
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1;
  }
