:root{
  --PRIMARY_TEXT: #101010;
  --SECONDARY_TEXT: #767676;
  --BLUE_TEXT: #218dff;
  --HIGHLIGHT: #f6f6f;
  --BLUE_BACKGROUND: #e8f3ff;
}

/* -------------------Element Selectors---------------------- */
a:hover{
  text-decoration: none;
}
  
  h1{
    font-size: 2rem !important;
    font-weight: 600 !important;
  }

  h3{
    font-size: 1rem !important;
    font-weight: 400 !important;
  }

/* -------------------Class Selectors---------------------- */


.btn-primary:hover{
  color:#1c73e4;
  background-color:#dbeffc;
  border-color: transparent;
}

.card{
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.12);
  border: none;
}

.form-control:focus{
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.12);
  border-color: transparent;
}

.twit-link{
  color: var(--BLUE_TEXT);
  text-decoration: none;
  cursor: pointer;
}

.twit-link:hover{
    color:#00baff;
    text-decoration: none;
    transition: color .1s ease-in-out;
}
  
.navbar-collapse{
  justify-content: space-between;
}

.navbar-collapse .btn{
  margin: 0 5px;
}

@media only screen and (max-width: 992px) {
    .right-column {
      display: none;
    }
  }

  .icon-holder{
    display: flex;
  }

  .icon-holder a{
    color: var(--SECONDARY_TEXT);
    text-decoration: none;
  }

  .social-icon{
    padding-right: 0 15px;
  }

  .span-block{
    display: block;
  }

  .muted{
    color: var(--SECONDARY_TEXT);
  }

  .twit-flex-column{
    display:flex;
    flex-direction: column;
    align-items: flex-start
  }

  .twit-small-text{
    font-size: 13px;
  }

  body{
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--PRIMARY_TEXT);
  }

  .twit-icon{
    margin-right: 5px;
  }

  .twit-button{
    margin-right: 10px;
  }

  .twit-brand{
    text-decoration: none;
    color: var(--PRIMARY_TEXT);
  }

  .twit-brand:hover{
    text-decoration: none;
    color: var(--PRIMARY_TEXT);
  }

  .nav-style span{
    display: block;
  }

  .block-span{
    display:block;
  }
