.card-header{
    padding: 0;
}

.link-inactive{
    color: #101010;
}

.link-active::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #218dff;
}

.link-active span{
    font-weight: 700;
    color: #101010;
}

.nav-style{
    font-size: 13px;
    padding:10px;
}

.twit-card-deck{
    display: flex;
    flex-flow: row wrap;
}

.twit-card{
    margin: 0 5px;
    margin-left: none;
    margin-right: none;
    flex: 1 0 0%;
    min-width: 0;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.12);
    border: none;
    border-radius: .25rem;
    text-align: center;
}

.twit-card-body{
    padding: .5rem;
    text-align: center;
    width: 100%;
}

.twit-title{
    font-weight: bolder;
    font-size: 1vw;
}

.twit-subtitle{
    font-size: 13px;
    color: var(--SECONDARY_TEXT);
}

.twit-card-text{
    font-size: 13px;
}

.twit-card-link{
    font-size: 13px;
}

.matchup{
    width: auto;
    display: flex;
    align-items: center;
    padding: none;
    margin: 0 10px;
    justify-content: space-evenly;
    flex-direction: column;

}

.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-card{
    display: flex;
    flex-direction: column;
}

.player-image{
    width:50%;
}

.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scout{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.twit-small-button{
    padding: .01rem .5rem;
}
